<div id="show-page">
	

<div class="title ">
	<h2><%= @message.title.upcase %></h2>
</div>

<div class="body-message">
	<p><%= @message.body %> </p>
</div>

<div>
	<%= image_tag @message.main_image %>
</div>

<div>
	<%= image_tag @message.thumb_image %>
</div>

<div>
	
	<iframe width="800" height="600" allowfullscreen autoplay
src="<%= @message.bg_video %>" >  
<%= @message.bg_video %>
</iframe>

</div>

</div>

<%= link_to "see all", root_path  %>

<hr>
<%= @message.inspect %>

<hr>

<% if params[:id] == 'terima-kasih' %>
		<h1>Hello world <%= params %></h1>
<% end %>